<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @global_annoucement.content %>
</p>

<%= link_to 'Edit', edit_global_annoucement_path(@global_annoucement) %> |
<%= link_to 'Back', global_annoucements_path %>
