@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background-color: lavender;
  padding-top: 10px;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}